<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/blindspotlogo.png"/>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Express yourself and make a positive impact on someone who you care and respect in your workplace!
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/signup" target="_blank">Sign Up</a>
			</p>
		</div>
	</div>
	<div>
		<h2>Open Communication drives engagement</h2>
		<h3> Employee engagement is impacted by </h3>
		<ul>
			<li> Issues with Managers </li>
			<li>Lack of professional growth in workplace </li>
			<li>Lack of clarity on company strategies and initiatives</li>
		</ul>

		<h3> Better communication can help </h3>
		<ul>
			<li>Discussion with managers</li>
			<li>Learn areas for improvement </li>
			<li>Clarify company strategies with the execs</li>
		</ul>

	</div>
	<div class="row">
		<h2> Enable employees to communicate freely </h2>
		<div class="col-md-3">
			<div class="well">
				<h2>
					<strong>M</strong>icro
				</h2>
				<p> Short, specific, pertinent </p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well">
				<h2>
					<strong>R</strong>ealtime
				</h2>
				<p> Recent or current interactions </p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well">
				<h2>
					<strong>A</strong>nonymous
				</h2>
				<p> Open, honest, direct</p>
			</div>
		</div>
	</div>
	<div class="well">
		<h2>Trusted, constructive, intuitive</h2>
		<ul>
			<li> Completely secure &amp; anonymous </li>
			<li> User driven, community ratings, private </li>
			<li> Desktop &amp; mobile friendly interface </li>
		</ul>
	</div>
	<br>Enjoy &amp; Keep Improving Yourself,
	<br>The Blindspot Team.
</section>